@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
body{
	color:#ffffff;
	background:#fc6f03;
	text-align:center;
	font-family: 'Rubik', sans-serif;
}
a{
	color:#02bef7
}
a:hover{
	color: #7289da;
	font-weight:bold;
	text-transform:uppercase;
}
#face{
	border: 3px solid #000000;
	border-radius: 50%;
}
#response{
	border: 3px solid #000000;
	border-radius: 50%;
}
#login{
	border: 3px solid #000000;
	border-radius: 50%;
}
#personal{
	border: 3px solid #000000;
	border-radius: 50%;
}
#mainmenu{
width: 20%;
float:left;
background: #00025e;
}
#content{
width: 80%;
float:left;
}

iframe{
	border: 3px solid #ffee00;
}
#mainmenu ul li{
list-style:none;	
}

#mainmenu ul li a{
	background: #000000;
	color: #ffffff;
	padding: 20px;
	margin: 20px;
	display: block;
	text-decoration: none;
}
#mainmenu ul li a:hover{
background: #ffffff;
color: #000000;	
}

#flowchart{
	border: 3px solid #000000;
}
#start{
	border: 3px solid #000000;
}
#appsforgoodlogo{
	border: 3px solid #000000;
}
#appsForGoodMenu{
	border: 3px solid #000000;
}

table ul li a{
	border-collapse: collapse;
	width: 30%;
	float: center;
	text-align: center;
}
td, th{
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #59a7ff;
}
tr:nth-child(odd) {
	background-color: #ff0000;
}